@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.625rem;
  --background: 0 0% 100%;
  --foreground: 0 0% 14.5%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 14.5%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 14.5%;
  --primary: 0 0% 20.5%;
  --primary-foreground: 0 0% 98.5%;
  --secondary: 0 0% 97%;
  --secondary-foreground: 0 0% 20.5%;
  --muted: 0 0% 97%;
  --muted-foreground: 0 0% 55.6%;
  --accent: 0 0% 97%;
  --accent-foreground: 0 0% 20.5%;
  --destructive: 0 62.8% 30.6%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 20.5%;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --sidebar: 0 0% 98.5%;
  --sidebar-foreground: 0 0% 14.5%;
  --sidebar-primary: 0 0% 20.5%;
  --sidebar-primary-foreground: 0 0% 98.5%;
  --sidebar-accent: 0 0% 97%;
  --sidebar-accent-foreground: 0 0% 20.5%;
  --sidebar-border: 0 0% 89.8%;
  --sidebar-ring: 0 0% 89.8%;
}

.dark {
  --background: 0 0% 14.5%;
  --foreground: 0 0% 98.5%;
  --card: 0 0% 14.5%;
  --card-foreground: 0 0% 98.5%;
  --popover: 0 0% 14.5%;
  --popover-foreground: 0 0% 98.5%;
  --primary: 0 0% 98.5%;
  --primary-foreground: 0 0% 20.5%;
  --secondary: 0 0% 20.5%;
  --secondary-foreground: 0 0% 98.5%;
  --muted: 0 0% 20.5%;
  --muted-foreground: 0 0% 55.6%;
  --accent: 0 0% 20.5%;
  --accent-foreground: 0 0% 98.5%;
  --destructive: 0 62.8% 30.6%;
  --border: 0 0% 20.5%;
  --input: 0 0% 20.5%;
  --ring: 0 0% 83%;
  --chart-1: 12 76% 61%;
}
